<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".BlankActivities.FaqsBlankActivity"
            android:exported="false" />
        <activity
            android:name=".BlankActivities.ValueAddedServicesActivity"
            android:exported="false" />
        <activity
            android:name=".BlankActivities.CommissionAndTaxBlankActivity"
            android:exported="false" />
        <activity
            android:name=".BlankActivities.OpenAccountBlankActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PracticeAccountLoginActivity"
            android:exported="false" />
        <activity
            android:name=".BlankActivities.AboutAlfalahActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.OpenAccountActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.IPSActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CommodityActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.StocksActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SecondLevelActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AllSymbolsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>